# Your MongoDB Atlas Connection String
# DO NOT put your actual password in this file and upload it to GitHub!
# This is just a template. Rename this file from .env.example to .env for local testing.

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/
FLASK_SECRET_KEY=change_this_to_a_random_string
